.home__main {
    max-width: 1200px;
    height: 700px;

    margin: 0 auto;
    display: flex;
    align-items: center;
}

.home__img {
    max-width: 500px;
    max-height: 330px;
    overflow: hidden;

    border-radius: 20px;
    transform: rotateZ(-6deg);
    box-shadow: 6px 6px 17px -2px rgba(0, 0, 0, 0.42);
}