.form__auth {
    display: flex;
    flex-direction: column;

    margin: 100px auto;
    max-width: 400px;
    padding: 40px 16px;

    background-color: #fff;
    border-radius: 2px;
}

.fa-solid.fa-lock {
    background-color: rgb(18, 39, 69);
    text-align: center;
    width: 12%;
    margin: 0 auto;
    border-radius: 50%;
    color: #fff;
    padding: 12px;
    font-size: 1.2rem;
}

.form__auth--legend {
    font-size: 1.4rem;
    text-align: center;
    margin: 10px 0;
}

.form__auth input {
    margin: 10px 0;
    height: 40px;
    padding: 10px;

    outline: none;
    width: 100%;
}

.form__label--password {
    position: relative;
}

.form__label--password i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    font-size: 1.2rem;
    color: rgb(143, 143, 143);
    cursor: pointer;
}

.form__button--submit {
    background-color: rgb(18, 39, 69);
    color: #fff;
    border: none;
    border-radius: 2px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    padding: 6px;
    margin: 10px 0;
}