.main__create {
    max-width: 400px;
    margin: 100px auto;

    background-color: #fff;
    border: 1px solid black;
    border-radius: 20px;
}

.main__form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main__form--legend {
    font-size: 1.6rem;
}

.main__form--label {
    margin: 20px 0 6px;
    font-size: 1.2rem;
}

.main__form input,
.main__form textarea {
    outline: none;
    padding: 6px;
}

.main__form--buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.main__form button {
    width: 40%;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;

    border: none;
    border-radius: 2px;
    padding: 6px;
}

.main__form--add--card {
    background-color: rgb(32, 46, 64);
}

.main__form--clear--form {
    background-color: rgb(255, 0, 0);
}

.main__form--add--card:hover {
    background-color: rgb(15, 27, 44);
}

.main__form--clear--form:hover {
    background-color: rgb(157, 10, 10);
}