.header {
    background-color: rgb(32, 46, 64);
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    padding: 12px;
}

.header__ul {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
}